In [1]:
from sqlalchemy import create_engine
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
engine = create_engine("mysql+mysqlconnector://root:1234@127.0.0.10/job_tracker")

# test connection
try:
    with engine.connect() as conn:
        print("Connection successful!")
except Exception as e:
    print("Connection failed:", e)

Connection successful!

In [5]:
# test a query

query = "select * from applicants"

df = pd.read_sql(query, engine)
df

   applicant_id           name                    email
0             1  Tushar Sharma  tushar.sharma@email.com
1             2    Aditi Mehta    aditi.mehta@email.com
2             3    Rohit Verma    rohit.verma@email.com
3             4     Neha Singh     neha.singh@email.com

In [ ]:
Now begin for analyzing + visualization